.login-section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-section video {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.login-section:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 30%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.login-section .container {
  position: relative;
  max-width: 58%;
  z-index: 3;
}


.login-section .login-form {
  background-color: var(--surface-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  height: auto;
  padding: 50px 80px 30px 80px;
  z-index: 2;
}

@media (max-width: 575px) {
  .login-section .login-form {
    padding: 20px;
  }
}

.login-section .login-form input[type=text],
.login-section .login-form input[type=password],
.login-section .login-form textarea {
  font-size: 14px;
  padding: 10px 20px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: var(--surface-color);
  border-color: color-mix(in srgb, var(--default-color), transparent 50%);
}

.login-section .login-form input[type=text]:focus,
.login-section .login-form input[type=password]:focus,
.login-section .login-form textarea:focus {
  border-color: var(--contrast-color);
  box-shadow: 0 0 0 0.2rem color-mix(in srgb, var(--accent-color), transparent 50%);
}

.login-section .login-form input[type=text]::placeholder,
.login-section .login-form input[type=password]::placeholder,
.login-section .login-form textarea::placeholder {
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}

.login-section .login-form .btn-primary {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  margin-bottom: 30px;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}

.login-section .login-form .btn-primary:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);}

