.signup-section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-section video {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.signup-section:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 30%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.signup-section .container {
  position: relative;
  max-width: 80%;
  max-height: 100%;
  z-index: 3;
}


.signup-section .signup-form {
  position: relative;
  background-color: var(--surface-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  height: auto;
  padding: 9% 9% 9% 9%;
  z-index: 2;
}

@media (max-width: 575px) {
  .signup-section .signup-form {
    padding: 20px;
  }
}

.section-title h3 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  position: relative;
}


.signup-section .signup-form input[type=text],
.signup-section .signup-form input[type=password],
.signup-section .signup-form input[type=email],
.signup-section .signup-form textarea {
  font-size: 14px;
  padding: 10px 20px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: var(--surface-color);
  border-color: color-mix(in srgb, var(--default-color), transparent 50%);
}

.signup-section .signup-form input[type=text]:focus,
.signup-section .signup-form input[type=password]:focus,
.signup-section .signup-form input[type=email]:focus,
.signup-section .signup-form textarea:focus {
  border-color: var(--contrast-color);
  box-shadow: 0 0 0 0.2rem color-mix(in srgb, var(--accent-color), transparent 50%);
}

.signup-section .signup-form input[type=text]::placeholder,
.signup-section .signup-form input[type=password]::placeholder,
.signup-section .signup-form input[type=email]::placeholder,
.signup-section .signup-form textarea::placeholder {
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}

.signup-section .signup-form .btn-primary {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  margin-bottom: 30px;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}

.signup-section .signup-form .btn-primary:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.form-close-btn {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 26px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
  z-index: 10;
  transition: color 0.25s ease, transform 0.2s ease;
}

.form-close-btn:hover {
  color: var(--accent-color);
  transform: scale(1.15);
}

.password-warning {
    color: #ff4d4d;
    font-size: 0.9rem;
    margin-top: 5px;
    display: none;
}
